.note-window{
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10rem;

    padding-inline: 2.5rem;

    font-size: 0.9rem;


    pre{
        background-color: transparent !important;
    }
}