.dock {
  height: 4rem;
  display: flex;
  gap: 0.75rem;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(170, 170, 170, 0.18);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  padding-inline: 1rem;
  padding-block: 0.75rem;

  .github,
  .cli {
    background-color: black;
  }

  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }

  .pdf {
    background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
  }

  .calender,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }

  .spotify {
    background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(70, 150, 33));
  }

  .link {
    background: linear-gradient(
      to bottom,
      rgb(163, 97, 170),
      rgb(142, 33, 154)
    );
  }

  .icon:hover {
    transform: scale(1.25) translateY(-20%);
  }

  .icon {
    padding: 0.65rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 2.8rem;
    height: 2.8rem;

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1) translateY(-10%);
  }

  .icon:hover + .icon + .icon,
  .icon:has(+ .icon + .icon:hover) {
    transform: scale(1) translateY(-5%);
  }
}
