* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: rgb(19, 19, 19);
}

main {
  height: 100%;
  width: 100%;
  background-image: url(/macWaves.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  overflow: hidden;
}
